html,
body {

    font-size: 20px;
    background-color: #49494b;
    color: #8e8e90
}

h1 {
    color: #d1bfa7;

}

h2 {
    font-size: 20px;
    color: #bd8c7d;

}

h3 {
    font-size: 20px;
    color: #8e8e90;

}

a:link {
    color: #ffcc66;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #996600;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #996600;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #e69900;
    background-color: transparent;
    text-decoration: underline;
}